<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="user.name" type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" type="email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="user.password" type="password"></ion-input>
        </ion-item> 
      
        <ion-item>
          <ion-label position="floating">Confirme a Senha</ion-label>
          <ion-input [(ngModel)]="user.confirmPassword" type="password"></ion-input>
        </ion-item>
      
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item 
          *ngFor="let check of data"
          (click)="onClick()"
          >
        
          <ion-label>Aceito os <a (click)="termosCondicoes();">termos e condições</a></ion-label>
          <ion-checkbox
            [(ngModel)]="check.selected"
            color="primary">
          </ion-checkbox>    
        
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  
          <ion-button [class.button-disabled]="true" expand="full" (click)="criarUsuario()" >Criar Conta</ion-button>
        

    
</ion-content>

