<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmar Código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Digite o código recebido</ion-label>
        <ion-input type = "number"  ></ion-input>
      </ion-item>

      <ion-button expand ="full" (click)="alterarSenha()">Verificar</ion-button>

      <ion-button expand ="full">Reenviar código</ion-button>

      

    </ion-col>
  </ion-row>

</ion-content>
