<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar perguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Nome da Lista</p>
  </ion-item>


  <ion-item>
    <ion-label position="floating" >Pergunta</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
