<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueci minha senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Digite o email cadastrado</ion-label>
        <ion-input  type="email"></ion-input>
      </ion-item>

      <ion-button expand ="full" (click)= "confirmarCodigo();">Enviar código</ion-button>


    </ion-col>
  </ion-row>

</ion-content>
