<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Vamos começar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='ion-padding'>
    <ion-slides pager>
      <ion-slide style="background-color: red;">
        <p> Cadastrando Listas</p>
      </ion-slide>

      <ion-slide style="background-color: blue;">
        <p> Slide 02</p>
      </ion-slide>

      <ion-slide style="background-color: green;">
        <p> Slide 03</p>
      </ion-slide>
    </ion-slides>

  </div>

  <div class='ion-padding'>
    <ion-slides pager>
      <ion-slide style="background-color: purple;">
        <p> Cadastrando Perguntas</p>
      </ion-slide>

      <ion-slide style="background-color: orange;">
        <p> Slide 02</p>
      </ion-slide>

      <ion-slide style="background-color: gray;">
        <p> Slide 03</p>
      </ion-slide>
    </ion-slides>

    <ion-col>
      <ion-button (click)="toHome();" expand="full">Pular Tutorial</ion-button>
    </ion-col>

  </div>

</ion-content>
