<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nova Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label position="floating">Confirme a Nova Senha</ion-label>
    <ion-input  type="password"></ion-input>
  </ion-item>

  <ion-button expand ="full" (click)="paginaInicial()">Alterar Senha</ion-button>
</ion-content>
