
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title> {{ lista.name }}  </ion-title>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>


<ion-content> 

  <ion-list>

    <ion-item>
      <ion-label>
       <strong>Nome da Lista</strong>
        <p>{{ lista.name }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Horáro da Lista</strong>
        <p>{{ lista.hour }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>O que devo lembrar?</strong>
      </ion-label>
    </ion-item> 
        
    
    <ion-item *ngFor= "let q of questaoLista;let i = index">
      <ion-label>
        <p>{{ q.description }}</p>
      </ion-label>

    </ion-item>
    <!-- <ion-button  expand="full">Editar</ion-button> -->
    <ion-button (click)="editList();" expand="full">Editar</ion-button>

    <ion-button (click)="deleteList();" expand="full">Excluir lista</ion-button>


  </ion-list>

</ion-content>
