<ion-header>
  <ion-toolbar>
    <ion-title>MINHA LISTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row *ngIf="listq.length">

      <ion-col>
        
      </ion-col>

    </ion-row>

    <!-- Botão Criar List -->
    <ion-row *ngIf="listq.length == 0">

      <ion-col>
        <h5>Você ainda não tem listas cadastrada. </h5>
        <ion-button (click)="cadastrarLista()" expand ="full">Criar Lista</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>
