h4.user{
    margin-left: 15px;
}

h4.mail{
    margin-left: 15px;
}

/* div#ion-align-self{
    align-items: center;
    margin-left: 30px;
} */
 img#img-user{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10px;
} 