<ion-header >
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minhas Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="lists.length > 0">

        <ion-col>
  
          <ion-list>
            <ion-item
            *ngFor= "let list of lists"
            (click)="verLista(list.id)"
            >
              <ion-label> 
                {{ list.name }}
              </ion-label> 
                  

              <ion-icon 
                name="chevron-forward-outline" 
                slot="end"
                ></ion-icon>
            </ion-item>
          </ion-list>


          <!-- <ion-button (click)="editarLista();" expand="full">Editar</ion-button> -->
          <ion-button (click)="registerList();" expand="full">Nova Lista</ion-button>


        </ion-col>
    </ion-row>

    <div>
      <ion-row *ngIf="lists.length == 0">
        <ion-col>
          <img id = "img-list"width="150" height="150" src="./assets/caixa.jpeg"/>
        </ion-col>
      </ion-row>
    </div>


    <ion-row *ngIf="lists.length == 0">
      
      <div class="text-list">
        <ion-row>
          <ion-col>
            <p>Que pena! Você não possui lista(s) cadastrada(s). Crie agora sua primeira lista</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-row>


    <ion-row ion-row *ngIf="lists.length == 0">
      <ion-col>
        <ion-button (click)="registerList();"expand="full">Criar Lista</ion-button>

      </ion-col>
    </ion-row>
     
    



    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  </ion-grid>
</ion-content>

