<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Mostrar Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar animated></ion-searchbar>
  <p>LISTA 1</p> 
  <p>LISTA 2</p> 
  <p>LISTA 3</p> 
  <p>LISTA 4</p> 
  <p>LISTA 5</p> 
  <p>LISTA 6</p> 
  <p>LISTA 7</p> 
  
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
</ion-content>

