<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alterar listaa de Tarefas</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  
  <ion-item>
    <ion-label position="floating">Insira o nome da lista</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  
  <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select 
      class="custom-options"
      interface="action-sheet"
    >
      <ion-select-option value=1>Saindo de casa</ion-select-option>
      <ion-select-option value=2>Saindo do Trabalho</ion-select-option>
      <ion-select-option value=3>Lista de Compras</ion-select-option>
      <ion-select-option value=4>Meus Estudos</ion-select-option>
      <ion-select-option value=5>Outros</ion-select-option>

    </ion-select>
  </ion-item> 


  <ion-item>
  <ion-label for="">Horário</ion-label>
  </ion-item>

  <ion-item>
    <!-- <ion-input [(ngModel)]="listq.hour" type="time"></ion-input> -->
  </ion-item>


  <ion-item>
    <ion-label>
      Dias
    </ion-label>
    <div>
      <ion-button 
        shape="round"
        [ngClass]="{'diaSelecionado':verificarDiaMarcado(i)}"
        *ngFor="let day of days; let i = index" 
        (click)="setDays(i);" > {{day}} 
       </ion-button>
    </div>
  </ion-item>

  <ion-item *ngFor= "let q of questaoLista;let i = index">
    <ion-label>
      <ion-label position="floating">Editar Questão</ion-label>
      <ion-input value={{q.description}} type="text"></ion-input>
      <!-- <p>{{ q.description }}</p> -->
    </ion-label>
  </ion-item>



  <ion-item>
    <ion-button (click)="addQuestao();">Add Questão</ion-button>
  </ion-item>

  <ion-item *ngFor="let question of listq.questions; let i = index" >
    <ion-label>
      {{ question.description }}
    </ion-label>
    <ion-icon (click)="removerQuestao(i);" name="close-outline" slot="end" ></ion-icon>
  </ion-item>
 
  
  <ion-button expand ="full" (click)="atualizarLista();" >Atualizar Lista</ion-button>




</ion-content>

