<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title> Dicas práticas  </ion-title>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2><strong>1. Organize suas tarefas 📋</strong></h2>
        <p>Primeiro abra o Check&Run e organize as suas tarefas. Faça uma lista com tudo o que precisa ser feito ao longo do dia, independentemente do grau de importância. É fundamental que você tenha sua agenda organizada.</p>
       
        <h2><strong>2. Dê prioridade ao que é importante 🎯🎯 </strong></h2>
        <p>Segundo - organização das suas tarefas em busca de uma melhor gestão de tempo, é a prioridade que você dá para elas. Aprenda a separar o que é importante do que é urgente. Urgências têm menos tempo, portanto, você precisa fazer o quanto antes. Entretanto, não deixe de priorizar aquilo que é mais importante.</p>
       
        <h2><strong>3. Para cada meta, estabeleça ações 🏃</strong></h2>
        <p>Suas tarefas já estão listadas, certo? Antes de executá-las, estabeleça ações que vão deixar claro o caminho até a conclusão de cada tarefa. Dessa forma, além de acompanhar o progresso de cada meta, você tem um direcionamento que vai te ajudar a não perder o foco.</p>

        <h2><strong>4. Evite a procrastinação 🚫❌</strong></h2>
        <p>Para não perder o foco, evite a procrastinação. Essa prática, muito prejudicial para a sua produtividade, acontece quando você se perde nas abas do navegador de internet e deixa para amanhã o que poderia ser feito hoje.</p>


        <h2><strong>5. Otimize seu espaço e recursos 🕓⏳</strong></h2>
        <p>Não adianta organizar sua lista de tarefas e deixá-la impecável se o seu espaço de trabalho e os recursos de que você necessita para realizá-las estão um caos. Faça com que tudo funcione ao seu favor, portanto, mantenha seu posto de trabalho organizado e tenha sempre os recursos necessários por perto.</p>

        <h2><strong>6. Defina a hora de terminar 🕘✅</strong></h2>
        <p>Defina a hora de terminar suas atividades, pois dessa forma você ficará focado em cada tarefa que compõe seu dia, a fim de concluí-las com sucesso em tempo hábil, eliminando as distrações.</p>
        
        <h2><strong>7. Recompense-se 🎁🎁 </strong></h2>
        <p>Até agora você só viu responsabilidades, não é? Passe a se recompensar pelas tarefas concluídas e metas atingidas, pois essa é uma forma importante de autoestímulo. Aos poucos, você vai encontrando sentido nesse joguinho de ganhar uma recompensa para cada atividade finalizada e o seu ritmo será mais intenso e focado.</p>







      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
